/*-------------------------------
------- separate button to scroll to top
-------------------------------*/
.scroll-to-top {
  display: none;

  @media screen and (min-width: 64rem) {
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    border: 1px solid map-get($colors, light-gray);
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: map-get($colors, main-orange);
    transition: all 0.4s linear;

    i {
      color: white;
      font-size: 20px;
    }
  }
}

/*-------------------------------
------- products modal section
-------------------------------*/
.modal {
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: calc(100vh - 50px);
  z-index: 100;
  background-color: #ffffff;
  transition: opacity 0.4s ease;

  // header navigator and close icon
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 15px;

    .navigation {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        color: map-get($colors, middle-gray);
      }

      i {
        color: map-get($colors, main-orange);
        margin: 0 5px;
      }
    }

    & > i {
      color: map-get($colors, main-orange);
      font-size: 20px;
      cursor: pointer;
    }
  }

  // modal content
  .modal__content {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    overflow: scroll;

    // modal content navigation section
    .modal__categories {
      width: 100%;
      padding: 10px 15px;

      h3 {
        width: 50%;
        padding-bottom: 10px;
        color: map-get($colors, middle-gray);
        border-bottom: 1px solid map-get($colors, main-orange);
      }

      p {
        color: map-get($colors, light-gray);
        margin-top: 8px;
        transition: transform 0.3s ease;

        &:hover {
          cursor: pointer;
          color: map-get($colors, main-orange);
          transform: translateX(8px);
        }
      }
    }

    // modal content
    .modal__items {
      display: grid;
      grid-gap: 30px 20px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

      .modal__item {
        position: relative;
        height: 350px;
        background-image: url('../images/omid.jpg');
        background-size: cover;
        background-position: center;
        margin-top: 15px;
        box-shadow: 0px 1px 8px rgba(53, 53, 53, 0.705);
        transition: background-image 0.5s ease;

        .item__icons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 5%;
          bottom: 5%;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            border: 1px solid map-get($colors, middle-gray);
            cursor: pointer;
            margin: 5px 0;

            i {
              color: #000000;
              transition: transform 0.2s ease;
            }

            &:hover {
              border: 1px solid map-get($colors, main-orange);

              i {
                transform: scale(1.1);
                color: map-get($colors, main-orange);
              }
            }
          }
        }
      }
    }
  }

  // desktop size style
  @media screen and (min-width: 64rem) {
    height: 100vh;
  }
}

// .modal-close {
//   display: none;
// }

@keyframes loader-spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

// todo : loader animation
// .loader {
//   width: 60px;
//   height: 60px;
//   border-radius: 50%;
//   border: 5px solid map-get($colors, light-gray);
//   border-right: 5px solid map-get($colors, main-orange);
//   animation: loader-spin 1s linear infinite;
// }
