/*-------------------------------
------- top header section
-------------------------------*/
header {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // hamburger icon
  .menu-icon {
    margin: 0 0.9375rem;
    cursor: pointer;

    div {
      width: 25px;
      height: 3px;
      background-color: map-get($colors, main-orange);
      margin: 0.25rem 0;
    }
  }

  // logo image
  img {
    width: 130px;
  }

  i {
    font-size: 1.5625rem;
    color: map-get($colors, main-orange);
    margin: 0 0.9375rem;
    cursor: pointer;
  }

  // shopping cart icon
  // this div is just for mobile and tablet size screens
  .navigation__bottom-icons {
    height: 3.125rem;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    border-top: 1px solid map-get($colors, light-gray);
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (min-width: 64rem) {
      display: none;
    }
  }

  // this div is just for desktop size screens
  .navigation__top-icons {
    i:not(:last-child) {
      display: none;
    }

    @media screen and (min-width: 64rem) {
      display: flex;
      justify-content: space-around;

      i:not(:last-child) {
        display: block;
      }
    }
  }

  // Nav bar menu
  // in mobile and tablet size it is a side nav menu
  .navigation {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -60%;
    height: 100%;
    background-color: #ffffff;
    width: 60%;
    overflow: hidden;
    transition: left 0.6s linear;

    //close button div
    .navigation__close-button {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #ffffff;
      background-color: map-get($colors, main-orange);
      text-align: right;
      height: 55px;

      p {
        font-size: 1.25rem;
      }

      // close icon
      i {
        padding: 0;
        margin-right: 0.9375rem;
        color: #ffffff;
        font-size: 1.25rem;
      }
    }

    // navigation list
    .navigation__list {
      width: 100%;
      padding: 1.875rem 0.625rem 0 0.9375rem;
      list-style-type: none;

      // navigation list items
      .navigation__item {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        a {
          transition: transform 0.3s ease-in-out;
        }

        &:active a {
          color: map-get($colors, main-orange);
          transform: translateX(10px);
        }
      }

      // product items
      .products {
        width: 60%;
        display: none;

        .products__list {
          list-style-type: none;
        }

        .products__item {
          cursor: pointer;
          padding-left: 0.9375rem;
          line-height: 40px;
          height: 40px;
          color: map-get($colors, dark-gray);

          &:active a {
            color: map-get($colors, main-orange);
          }
        }
      }

      // toggle product menu preview
      .products-open {
        display: block;
      }

      .navigation__item {
        border-bottom: 1px solid map-get($colors, light-gray);
      }

      i {
        color: map-get($colors, light-gray);
        font-size: 0.9375rem;
      }

      a {
        text-decoration: none;
        color: map-get($colors, dark-gray);
      }
    }

    // changing the style of navbar in desktop size screens
    @media screen and (min-width: 64rem) {
      position: static;
      overflow: initial;

      .navigation__close-button {
        display: none;
      }

      .navigation__list {
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .navigation__item {
          height: 100%;
          border: none;
          margin: 0 1.25rem;
          font-size: 1.25rem;

          i {
            display: none;
          }

          a {
            display: block;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              top: 100%;
              left: 0;
              margin-top: 0.5rem;
              transform: scaleX(0);
              transition: transform 0.4s ease-out;
              background-color: map-get($colors, main-orange);
            }

            &:hover::after {
              transform: scaleX(1);
            }
          }

          &:hover a {
            transform: unset;
          }
        }

        // productions sub menu
        .products {
          display: none;
          align-items: center;
          justify-content: flex-start;
          width: 50%;
          height: 70%;
          position: absolute;
          top: 80px;
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.502);
          background-image: url('../images/product-image.jpg');
          background-size: cover;
          background-position: right bottom;

          .products__list {
            padding: 0 1.25rem;
            width: 40%;
            .products__item {
              border-bottom: 1px solid map-get($colors, light-gray);

              a {
                display: block;
                transition: color 0.3s ease-in;
                transition: transform 0.4s ease-in;
                transform-origin: left;
              }

              &:hover a {
                color: map-get($colors, main-orange);
                transform: scaleX(1.5);
              }
            }
          }
        }

        .navigation__item:first-child:hover + .products,
        .products:hover {
          display: flex;
        }
      }
    }
  }

  // class open for js to toggle the width of side nav
  .sideNav-open {
    left: 0;
  }

  // desktop size style
  @media screen and (min-width: 64rem) {
    // hamburger icon
    .menu-icon {
      display: none;
    }

    // logo image
    img {
      margin-left: 0.9375rem;
    }
  }
}
