.newsletter {
  .newsletter__text {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 3.75rem 30px;
    padding: 1.25rem;
    text-align: center;
    border-top: 1px solid map-get($colors, middle-gray);
    border-bottom: 1px solid map-get($colors, middle-gray);

    p {
      color: map-get($colors, middle-gray);
      font-size: 1.25rem;
      font-weight: 500;

      span {
        color: map-get($colors, main-orange);
        font-weight: 700;
      }
    }

    @media screen and (min-width: 480px) {
      width: 70%;
      margin: 3.75rem auto;
    }

    @media screen and (min-width: 1024px) {
      width: 60%;
    }
  }

  .newsletter__image {
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3.125rem;
      padding-bottom: 0.3125rem;
      color: map-get($colors, dark-gray);
      border-bottom: 2px solid map-get($colors, main-orange);
    }

    &:nth-child(2) {
      background-image: url('../images/newsletter1.jpg');
      background-position: top right 30%;
    }
    &:last-child {
      background-image: url('../images/newsletter2.jpg');
      background-position: top right 40%;
    }
  }

  .newsletter__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;

    h1 {
      margin-bottom: 10px;
    }

    .newsletter__subscribe--email {
      display: flex;
      justify-content: center;
      align-items: stretch;
      border: 2px solid map-get($colors, middle-gray);
      padding: 0;

      input {
        padding: 0.3125rem 0.625rem;
        outline: none;
        border: none;

        &:focus {
          outline: none;
        }
      }

      button {
        padding: 0.3125rem 0.625rem;
        background-color: map-get($colors, main-orange);
        font-family: inherit;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
