.right-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  right: -100%;
  width: 95%;
  max-width: 25rem;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  z-index: 100;
  padding: 0.625rem;
  transition: all 0.5s ease-in-out;

  // header
  .right-menu__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    padding-right: 0.625rem;
    border-bottom: 1px solid map-get($colors, middle-gray);

    p {
      font-size: 1rem;
      margin-right: 0.3125rem;

      &:hover {
        cursor: pointer;
        color: map-get($colors, main-orange);
      }
    }
  }

  // content
  .right-menu__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .content__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0.3125rem 0;

      .item__image {
        background-size: cover;
        background-position: center;
        width: 80px;
        height: 80px;
      }

      .item__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 65%;
        height: 100%;
        overflow: hidden;

        .item__info--title {
          font-weight: 600;
          overflow: hidden;
          margin-bottom: 0.625rem;
        }

        .item__info--price {
          color: map-get($colors, middle-gray);
          font-size: 0.8125rem;
          #price__count {
          }

          #price__number {
            font-weight: 600;
            font-size: 0.9375rem;

            color: map-get($colors, main-orange);
          }
        }
      }

      .item__remove {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        padding: 0.625rem;

        i {
          margin: 0 0.1875rem;
          transition: all 0.2s ease;

          &:hover {
            cursor: pointer;
            color: map-get($colors, main-orange);
          }
        }
      }
    }
  }

  // footer
  .right-menu__footer {
    background-color: #ffffff;
    width: 100%;

    .footer_total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.625rem 0;

      div {
        width: 60%;
        height: 1px;
        background-color: map-get($colors, middle-gray);
      }
      p:last-child {
        font-weight: 600;
        font-size: 1.25rem;
        color: map-get($colors, main-orange);
      }
    }

    .footer__checkout {
      width: 100%;
      padding: 0.9375rem 0.9375rem;
      margin-top: 0.625rem;
      text-align: center;
      background-color: #000000;
      color: #ffffff;

      &:hover {
        background-color: map-get($colors, main-orange);
        color: #000000;
      }
    }
  }

  @media screen and (min-width: 64rem) {
    height: 100vh;
  }
}

.right-menu-toggle {
  right: 0;
}

.right-menu__footer--close {
  display: none !important;
}
