/*-------------------------------
------- variables
-------------------------------*/
@import '_variables.scss';

/*-------------------------------
------- Global styling
-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 3000px;
}
/*-------------------------------
------- bottom icons for mobile
-------------------------------*/
@import 'mobile-bottom-icons.scss';

/*-------------------------------
------- header
-------------------------------*/
@import 'header.scss';

/*-------------------------------
------- big image section
-------------------------------*/
@import 'landing-image.scss';
