/*-------------------------------
------- variables
-------------------------------*/
@import '_variables.scss';

/*-------------------------------
------- Global styling
-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  // position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*-------------------------------
------- global
-------------------------------*/
@import '00-global.scss';

/*-------------------------------
------- all products from category
-------------------------------*/
@import '01-1-products-modal.scss';

/*-------------------------------
------- single product from category
-------------------------------*/
@import '01-2-single-product.scss';

/*-------------------------------
------- header
-------------------------------*/
@import '02-1-header.scss';

/*-------------------------------
------- user section
-------------------------------*/
@import '02-2-user.scss';

/*-------------------------------
------- big image section
-------------------------------*/
@import '03-landing-image.scss';

/*-------------------------------
------- services section
-------------------------------*/
@import '04-services.scss';

/*-------------------------------
------- grid gallery section
-------------------------------*/
@import '05-gallery.scss';

/*-------------------------------
------- brands section
-------------------------------*/
@import '06-brands.scss';

/*-------------------------------
------- newsletter section
-------------------------------*/
@import '07-newsletter.scss';

/*-------------------------------
------- discount section
-------------------------------*/
@import '08-discount.scss';

/*-------------------------------
------- footer section
-------------------------------*/
@import '09-footer.scss';

/*-------------------------------
------- right menu
-------------------------------*/
@import '10-rightmenu.scss';
